footer {
    margin-top: 10px;
}

body {
    background-color: #e6e6e6;
}

/* Dashboard styles */

.info-bar {
    margin-top: 60px;
    display: flex;
}

.ticket {
    height: 100px;
    margin: 10px 10px 10px 10px;
    border: solid 1px;
    border-radius: 10px;
}

.dashboard-subject {
    width: 60%;
    display: inline-block;
    margin: 5px 5px 5px 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.up-vote {
    font-size: x-large;
    margin: 5px 5px 5px 5px;
}

.btn-dashboard {
    width: 100%;
}

/* staging board */

.btn-staging,
.btn-dev {
    width: 80%;
}

.action-row {
    text-align: center;
}


/* staging board */

form {
    width: 75%;
}


/* quck add form styles */

.quick-add-form {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}
