{% extends 'base.html' %} {% block page_title %} Comments {% endblock %} {% block content %}

<div class="container">
    <div class="jumbotron">
        {% for comment in comments %} 
        <div class="row">
            <p>Comment Created: {{ comment.created }}</p>
            <p>Comment Type: {{ comment.comment_type }}</p>
            <p>Comment: {{ comment.comment }}</p>
        </div>
        <hr>
        {% endfor %}
        <input type=button value="Back" onClick="javascript:history.go(-1);">
    </div>
</div>


{% endblock %}
