{% extends 'base.html' %} {% block page_title %} Comments {% endblock %} {% block content %}

<div class="container">
    <div class="jumbotron">
        {% for comment in comments %} 
        <div class="row view-comment">
            <p><h4>Comment Created: </h4>{{ comment.created }}</p>
            <p><h4>Comment Type: </h4>{{ comment.comment_type }}</p>
            <p><h4>Comment: </h4>{{ comment.comment }}</p>
        </div>
        <hr>
        {% empty %}
        <p>Please add a comment from the ticket page.</p>
        {% endfor %}
        <input type=button class="btn btn-back" value="Back" onClick="javascript:history.go(-1);">
    </div>
</div>


{% endblock %}
