{% extends 'base.html' %} {% load bootstrap_tags %} {% block page_title %} View Ticket {% endblock %} {% block content %}

<div class="container">
    <div class="jumbotron">
        <form method="POST">
            {% csrf_token %} {{ form|as_bootstrap }}

            <input type="submit" value="Submit" name="Submit" />
            <input type=button value="Back" onClick="javascript:history.go(-1);">
        </form>
        {% if id %}
        <a href="{% url 'view_comments' id %}" class="btn btn-default">View Comments</a>
        <a href="{% url 'new_comment' id %}" class="btn btn-default">Add Comment</a> 
        {% endif %}
    </div>
</div>


{% endblock %}
