{% extends 'base.html' %} 
{% load bootstrap_tags %}

{% block page_title %}
    Developer Login Page
{% endblock %} 

{% block page_heading %}
    Developer Login 
{% endblock %} 

{% block content %}

<div class="container">
    <div class="jumbotron">
        <form method="POST">
            {% csrf_token %} 
            {{ login_form | as_bootstrap }}
            <input class="btn btn-submit" type="submit" value="Submit" name="Submit"/>
            <input class="btn btn-back" type=button value="Back" onClick="javascript:history.go(-1);">
        </form>
        <p><a href="{% url 'password_reset' %}">Reset Password</a></p>

    </div>
</div>

{% endblock %}
