{% extends 'base.html' %} 
{% load bootstrap_tags %} 
{% block page_title %}
    Developer Registration Page
{% endblock %} 
{% block page_heading %}
    Developer Registration 
{% endblock %} 

{% block content %}

<div class="container">
    <div class="jumbotron">
        <p>If you already have an account, you can <a href="{% url 'login' %}">sign in here.</a></p>

        <form method="POST">
            {% csrf_token %} 
            {{ registration_form | as_bootstrap }}
            <input class="btn btn-submit" type="submit" value="Submit" name="Submit"/>
            <input class="btn btn-back" type=button value="Back" onClick="javascript:history.go(-1);">
        </form>
    </div>
</div>


{% endblock %}
