{% extends 'base.html' %} {% block page_title %} Dashboard {% endblock %} {% block content %}
<h2>this page is a dashboard</h2>

<div class="row">

    <div class="container jumbotron">

        {% for ticket in tickets %}

        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2 ticket">
            <div class="row dashboard-subject">
                <span>{{ ticket.subject }}</span>
            </div>
            <a href="#" class="up-vote"><i class="fas fa-arrow-up"></i></a>
            <br>
            <a href="#" class ="btn btn-default btn-dashboard">Open Ticket</a>
        </div>

        {% endfor %}

    </div>

</div>

<br> {% endblock %}
