{% extends 'base.html' %} {% block page_title %} Dashboard {% endblock %} {% block content %}
<div class="row">

    <div class="container jumbotron">

        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#bugs" aria-controls="home" role="tab" data-toggle="tab">Bugs</a></li>
            <li role="presentation"><a href="#features" aria-controls="profile" role="tab" data-toggle="tab">Features</a></li>
        </ul>


        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="bugs">
                {% for ticket in tickets %} {% if ticket.ticket_type == 'Bug' %}

                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2 ticket">
                    <div class="row dashboard-subject">
                        <span>{{ ticket.subject }}</span>
                    </div>
                    <a href="{% url 'up_vote' ticket.id %}" class="up-vote">{{ ticket.up_vote }}<i class="fas fa-arrow-up"></i></a>
                    <a href="{% url 'view_ticket' ticket.id  %}" class="btn btn-default btn-dashboard">Open Ticket</a>
                </div>
                {% endif %} {% endfor %}
            </div>
            <div role="tabpanel" class="tab-pane" id="features">
                {% for ticket in tickets %} 
                {% if ticket.ticket_type == 'Feature' %}

                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2 ticket">
                    <div class="row dashboard-subject">
                        <span>{{ ticket.subject }}</span>
                    </div>
                    <a href="{% url 'up_vote' ticket.id %}" class="up-vote">{{ ticket.up_vote }}<i class="fas fa-arrow-up"></i></a>
                    <a href="{% url 'view_ticket' ticket.id  %}" class="btn btn-default btn-dashboard">Open Ticket</a>
                </div>
                {% endif %} 
                {% endfor %}
            </div>
        </div>


        <!-- {% for ticket in tickets %}

        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2 ticket">
            <div class="row dashboard-subject">
                <span>{{ ticket.subject }}</span>
            </div>
            <a href="{% url 'up_vote' ticket.id %}" class="up-vote">{{ ticket.up_vote }}<i class="fas fa-arrow-up"></i></a>
            <a href="{% url 'view_ticket' ticket.id  %}" class="btn btn-default btn-dashboard">Open Ticket</a>
        </div>

        {% endfor %}  -->

    </div>

</div>

<br> {% endblock %}
