{% extends 'base.html' %} {% load bootstrap_tags %} {% block page_title %} Development Board {% endblock %} {% block content %}

<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="container jumbotron">
                <p>The current list of Bugs and Features that need action are below.</p>
                <hr>
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#bugs" aria-controls="home" role="tab" data-toggle="tab">Bugs</a></li>
                    <li role="presentation"><a href="#features" aria-controls="profile" role="tab" data-toggle="tab">Features</a></li>
                </ul>

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="bugs">
                        {% for ticket in tickets %} {% if ticket.accept == 1 and ticket.ticket_type == 'Bug' %}
                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2 ticket">
                            <div class="row dev-subject">
                                <span>{{ ticket.subject }}</span>
                            </div>
                            <div class="row action-row">
                                <a href="{% url 'dev_ticket' ticket.id %}" class="btn btn-info btn-staging">View Ticket</a>
                            </div>
                        </div>
                        {% endif %} {% empty %}
                        <p>You're bug ticket queue is empty</p>
                        {% endfor %}
                    </div>
                    <div role="tabpanel" class="tab-pane" id="features">
                        {% for ticket in tickets %} {% if ticket.accept == 1 and ticket.ticket_type == 'Feature' %}
                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2 ticket">
                            <div class="row dev-subject">
                                <span>{{ ticket.subject }}</span>
                            </div>
                            <div class="row action-row">
                                <a href="{% url 'dev_ticket' ticket.id %}" class="btn btn-info btn-staging">View Ticket</a>
                            </div>
                        </div>
                        {% endif %} {% empty %}
                        <p>You're feature ticket queue is empty</p>{% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <input class="btn btn-back" type=button value="Back" class="btn btn-back" onClick="javascript:history.go(-1);">
    </div>
</div>

{% endblock %}
