{% extends 'base.html' %} {% load bootstrap_tags %} {% block page_title %} Development Board {% endblock %} {% block content %}

<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="container jumbotron">
                <p>You need to accept any ticket that needs to me worked on</p>
                <hr> {% for ticket in tickets %} {% if ticket.accept == 1 %}
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2 ticket">
                    <div class="row dashboard-subject">
                        <span>{{ ticket.subject }}</span>
                    </div>
                    <div class="row action-row">
                        <a href="{% url 'dev_ticket' ticket.id %}" class="btn btn-default btn-dev">View Ticket</a>
                    </div>
                </div>
                {% endif %} {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
