{% extends 'base.html' %} {% load bootstrap_tags %} {% block page_title %}Staging Ticket{% endblock %} {% block content %}

<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="container jumbotron">
                <form>
                    {{ form|as_bootstrap }}
                </form>
                <div class="row">
                    <a href="{% url 'staging_accept' ticket.id %}" class="btn btn-success" />Accept</a>
                    <a href="{% url 'staging_reject' ticket.id %}" class="btn btn-danger" />Reject</a>
                </div>
            </div>
        </div>
        <input class="btn btn-back" type=button value="Back" onClick="javascript:history.go(-1);">
    </div>
</div>



{% endblock %}
